[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NETLIFY_SKIP_BLOBS_UPLOAD = "true"
  NODE_VERSION = "20"
  NODE_OPTIONS = "--max-old-space-size=4096"
  NEXT_CPU_LIMIT = "1"

[[headers]]
  for = "/sitemap.xml"
  [headers.values]
    Content-Type = "application/xml"